---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">About Me</h1>
		<p class="govuk-body-l">Learn more about my background and experience.</p>
		<p class="govuk-body">This is the about page content. Add your biography, skills, and other information here.</p>
	</main>
</BaseLayout>
