---
import BaseLayout from "../layouts/BaseLayout.astro";
import Phase from "../components/govuk/Phase.astro";
import NotificationBanner from "../components/govuk/NotificationBanner.astro";
---

<BaseLayout title="Home">
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">Default page template</h1>
	</main>
</BaseLayout>