---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Help - Leo Wilkin">
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">Help</h1>
		<p class="govuk-body-l">Get help using this website.</p>
		
		<h2 class="govuk-heading-m">Common questions</h2>
		<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
							How to navigate the site
						</span>
					</h2>
				</div>
				<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
					<p class="govuk-body">Use the main navigation at the top of the page to access different sections of the website.</p>
				</div>
			</div>
		</div>
		
		<h2 class="govuk-heading-m">Need more help?</h2>
		<p class="govuk-body">If you can't find what you're looking for, <a href="/contact" class="govuk-link">contact us</a>.</p>
	</main>
</BaseLayout>
