---
import BaseLayout from "../layouts/BaseLayout.astro";
import Phase from "../components/Phase.astro";
import Back from "../components/Back.astro";
---

<BaseLayout title="Leo Wilkin">
	<Phase title="Alpha" text="This is an Alpha service." />
	<Back link="https://google.com"/>
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">Leo Wilkin</h1>
		<p>Hey! My name is Leo, and this is my personal site.</p>
	</main>
</BaseLayout>