---
import BaseLayout from "../layouts/BaseLayout.astro";
import Phase from "../components/govuk/Phase.astro";
import NotificationBanner from "../components/govuk/NotificationBanner.astro";
---

<BaseLayout title="Home">
	<Phase title="Beta" text="This is an actively developed project." />
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">GDS Design System - Personal Edition</h1>
		<p>Here's a demo of the leowilkin/govuk-personal implementation of GDS's GOV.UK Frontend.</p>
		<NotificationBanner
			title="This is not maintained, or supported by the GDS team."
			desc="This is a personal project to demonstrate the GDS Design System in a personal context."
			link="https://github.com/leowilkin/govuk-personal"
			linkdesc="Learn more"
		/>
	</main>
</BaseLayout>