---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">My Projects</h1>
		<p class="govuk-body-l">A collection of my work and side projects.</p>
		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				<h2 class="govuk-heading-m">Project 1</h2>
				<p class="govuk-body">Description of your first project.</p>
			</div>
			<div class="govuk-grid-column-one-half">
				<h2 class="govuk-heading-m">Project 2</h2>
				<p class="govuk-body">Description of your second project.</p>
			</div>
		</div>
	</main>
</BaseLayout>
