---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Terms and Conditions - Leo Wilkin">
	<main class="govuk-main-wrapper app-main-class" id="main-content">
		<h1 class="govuk-heading-xl">Terms and Conditions</h1>
		<p class="govuk-body-l">By using this website, you agree to these terms and conditions.</p>
		
		<h2 class="govuk-heading-m">Using this website</h2>
		<p class="govuk-body">This website is for personal use only. You can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>view and browse the content</li>
			<li>use the contact information to get in touch</li>
			<li>share links to pages on social media</li>
		</ul>
		
		<h2 class="govuk-heading-m">Intellectual property</h2>
		<p class="govuk-body">The content on this website is protected by copyright. You cannot reproduce it without permission.</p>
		
		<h2 class="govuk-heading-m">Disclaimer</h2>
		<p class="govuk-body">The information on this website is provided 'as is' without any representations or warranties, express or implied.</p>
		
		<h2 class="govuk-heading-m">Changes to these terms</h2>
		<p class="govuk-body">These terms may be updated from time to time. Please check this page regularly for any changes.</p>
		
		<p class="govuk-body">Last updated: <time datetime="2025-05-25">25 May 2025</time></p>
	</main>
</BaseLayout>
